{% extends "emails/base.html.twig" %}

{% block body %}

	<h1>Bonjour
		{{ firstName }}.</h1>

	<br/><br/>

	<p>
		Veuillez trouvez ci-dessous un lien pour restaurer votre mot de passe.
	</p>

	<br/>

	<div>
		<a href="{{ resetLink }}">{{ resetLink }}</a>
	</div>

{% endblock %}
